* {
  /* Reset CSS */
  @apply box-border m-0 p-0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  /* Setting up base body styles
    - Background and text colors
    - Font family
    - Overflow handling
  */
  @apply relative min-h-screen w-screen max-w-screen overflow-x-hidden font-sans text-white antialiased;
}

strong {
  /* Accent color for strong text */
  @apply text-green-500;
}

.font-display {
  font-family: "Syne", sans-serif;
}

.font-accent {
  font-family: "Space Grotesk", sans-serif;
}

.font-brand {
  font-family: "Changa One", cursive;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}
