@import "./fonts.css";

@theme default {
  /* Colors */
  --color-background: #050505;
  --color-foreground: #ffffff;
  --color-accent: #22c55e;
  --color-muted: #9ca3af;

  /* Fonts */
  --font-sans: "Outfit", sans-serif;
  --font-serif: "Syne", sans-serif;

  /* Responsive Variables */
  --max-hero-image-width: max(28vw, 400px);
}
